@page "/"

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="display-4">
                        <i class="fas fa-home text-primary"></i>
                        HVO Roof Controller
                    </h1>
                    <p class="lead">
                        Welcome to the Hualapai Valley Observatory Roof Controller System
                    </p>
                    <hr class="my-4">
                    <p>
                        This system provides automated roof control and monitoring capabilities for the observatory.
                    </p>
                    <a class="btn btn-primary btn-lg" href="/blazor-sample" role="button">
                        <i class="fas fa-cloud-sun me-2"></i>
                        View Weather Station
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
