@namespace HVO.WebSite.RoofControllerV4.Components.Layout
@inherits LayoutComponentBase

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 shadow-sm" style="background: rgba(0,0,0,.65) !important; border-bottom: 1px solid rgba(255,255,255,.08); backdrop-filter: blur(6px);">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <i class="fas fa-home"></i> HVO Roof Controller
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/roof-control">
                                    <i class="bi bi-house-door"></i> Roof Control
                                </a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>
