@page "/"

<PageTitle>Home</PageTitle>

<section class="container py-5">
	<div class="row justify-content-center text-center text-light">
		<div class="col-lg-8">
			<h1 class="display-3 mb-3">SkyMonitor v4 RPi</h1>
			<p class="lead">Real-time observatory telemetry and device control tailored for Raspberry&nbsp;Pi deployments.</p>
		</div>
	</div>
</section>
