<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Include>[HVO.RoofControllerV4.RPi]*</Include>
          <Include>[HVO.Iot.Devices]*</Include>
          <Exclude>[HVO.RoofControllerV4.RPi.Tests]*</Exclude>
          <Exclude>[*.Tests]*</Exclude>
          <SkipAutoProps>true</SkipAutoProps>
          <UseSourceLink>true</UseSourceLink>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
